.dash-header {
    /* display: flex; */
    width: 100vw;
    /* height: 95px; */
    position: fixed;
    background: #CD1731;
    /* align-content: space-between;
    justify-content: space-between; */
    z-index: 1000;
}
.header-filler {
    width: 100vw;
    height: 1px;
}
.header-font {
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    font-family: myriad-pro, sans-serif;
    color: white;
}
.dash-main-container {
}
.graph-wrapper {
    margin-top: 95px;
}
.logout-button {
    margin-right: 25px !important;
    top: 0 !important;
}

/* --------------team rankings -------------------- */

.team-rankings {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 88px;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}
.team-item {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 120px;
    border-top: solid #E0E0E0;
    width: 100%;
    text-decoration: none;
    color: black;
}
.suggestion-rankings {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 88px;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}
.suggestion-item {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 150px;
    border-top: solid #E0E0E0;
    width: 100%;
}
.suggestion{
    grid-column: 2 / 3;
    word-wrap: break-word;
}
.assigned-team {
    grid-column: 3 / 4;
}
.vote-number {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.like-button {
    grid-column: 1 / 2;
    height: 37px;
    width: 115px;
}
.commit-button {
    grid-column: 1 / 2;
    height: 37px;
    width: 151px;
    margin-bottom: 5px;
    margin-left: 10px !important;
    vertical-align: baseline!important;
}
.delete-button {
    grid-column: 3 / 4;
    margin-bottom: 5px;
    height: 45px;
    width: 45px;
    position: none;
    margin-right: 2vw !important;
}
.suggested-user {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.add-suggestion {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 10px;
}
.modal-holder {
    position: fixed;
    top: 50%;
    left: 50%;
}
.item-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    font-family: myriad-pro, sans-serif;
}
.item-extra {
    font-weight: 200;
    font-size: 14px;
    line-height: 33px;
    font-family: myriad-pro, sans-serif;
    color: gray;
}
.sticky-pre {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.sticky-pre-container {
    width: 100vw;
    height: 11vh;
}
.sticky-pre-image {
    margin-right: 1.4vw !important;
    margin-top: 1vh !important;
}
.sticky-post {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw; 
}
.upper-right-avatar {
    margin-right: 25px !important;
    margin-top: 10px !important;
    justify-self: end;
}
.dash-header2 {
    margin-top: 3vh !important;
    margin-right: 10.4px !important;
}
.header-logo1 {
    justify-self: center !important;
    grid-column: 2 / 3;
}
.header-pusher {
    margin-bottom: 5vh !important;
}
.avatar-image {
    padding-left: 2vw !important;
}